<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vovatkach2427gmail.eyeexercises">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_eye"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_eye"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act.WelcomeAct"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act.MainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Act.TrainingActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".Act.FinishAct" />
        <activity
            android:name=".Act.StatisticsAct"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme" />
        <activity android:name=".Act.AdviveAct" />

        <service
            android:name=".Service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:process=":notification"></service>
    </application>

</manifest>