<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vovatkach2427gmail.eyeexercises">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_eye"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_eye"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivityWelcome"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityMainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ActivityTraining"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".activity.ActivityFinish" />
        <activity
            android:name=".activity.ActivityStatistics"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.ActivityNotification" />

        <service
            android:name=".notification.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:process=":notification"/>

        <receiver
            android:name=".notification.BootBrodcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>